body {
    background: #E1F4FF;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.close-button {
    width: 20px;
    height: 20px;
}

.button {
    text-decoration: none;
    color: inherit;
    background: inherit;
    border: none;
    display: inline-flex;
    padding: 8px 20px;
    border-radius: 25px;
    background: var(--Light-background-color, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    letter-spacing: 0.2px;
    font-family: Inter, sans-serif;

    &:hover {
        background: #c5c2c2;
    }

    &:active {
        background: red;
    }

}